html, body {padding:0px;background-color: white;}
body{max-width: 500px;height: 600px;}

body {max-width: 500px;font-family: "Arial", sans-serif;padding: 20px;}

/*Menú principal - contenedor*/
.menu{
  display:flex;
  width:100%;
  height:8%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}
/*Menú principal - botones*/
.boton{
  padding:10px;
  border-radius: 10px;
  background-color: none;
  color:#8965b9;
  text-decoration: none;
  font-weight: bolder;
  font-size: small;
  transition-duration: 2s;
}
/*Menú principal - botones transición*/
.boton:active{
  background-color:#aee77f;
  color:white;
  font-weight: bolder;
  font-size:large;
}
/*Texto explicativo*/
.explicacion{
  width:90%;
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: small;
  flex-direction: column;
  color:black;
  padding: 5%;
  border-radius: 15px;
}


/*reproductor de música - contenedor*/
.reproductor {
  width: 90%;
  height: 100%;
  background-image: url(img/Cielo_claro.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
  padding: 20px;
}
/*reproductor de música - lista de reproducción*/
.lista-reproduccion {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
  max-height: 160px;
  overflow-y: auto;
}
/*Reproductor de música - canciones*/
.lista-reproduccion li {
  padding: 8px 12px;
  margin: 5px 0;
  background-color: #b594e0;
  color:black;
  font-weight: bold;
  font-size: small;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
/*Reproductor de música - canciones transición*/
.lista-reproduccion li:hover {background-color: #8965b9;}
/*Reproductor de música - canciones cambio estilo cuando play*/
.lista-reproduccion .activo {
  background-color: #8965b9;
  font-weight: bold;
}
/*Reproductor de música - barra de reproducción*/
audio {width: 100%;margin-bottom: 10px;}
/*Reproductor de música - descripción canción*/
.descripcion-cancion {
  font-size: 0.95rem;
  color: #8965b9;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}
/*Pie*/
#pie{
  width:100%;
  height:15%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-around;
  margin-top: 5%;
  background-color: #8965b9;
  border-radius: 15px;
}
