html, body {margin:0px;padding:0px; background-image: url(img/sos-background.webp);}
body{max-width: 500px;}
/*Contenedor padre (abarca todo el body)*/
.contenedor-padre{
   width: 100%;
   display:flex;
   flex-direction: column;
   align-items: center;
}

/*Menú principal - contenedor*/
.menu{
   display:flex;
   width:100%;
   height:8%;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   border-radius: 15px;
   padding-top: 5%;
}
/*Menú principal - botones*/
.boton{
   padding:10px;
   border-radius: 10px;
   background-color: none;
   text-decoration: none;
   font-weight: bolder;
   font-size: small;
   color:white;
   transition-duration: 2s;
}
/*Menú principal - botones transición*/
.boton:active{
   background-color:rgba(0, 0, 0, 0.548);
   color:white;
   font-weight: bolder;
   font-size:large;
}
/*Texto explicativo y botones - contenedor*/
.contenido1{
   width:75%;
   display:flex;
   justify-content: center;
   text-align: center;
   margin-top:8%;
   padding:5%;
   border-radius: 15px;
   background-color: rgba(0, 0, 0, 0.548);
   color:white;
}
/*Texto explicativo y botones - sub contenedor*/
.sub-contenido1{width:100%;}
/*Texto explicativo y botones - botones*/
.boton-sub{
   background-color: none;
   border: 1px white solid;
   border-radius: 5px;
   padding:2%;
}
/*img, frase, audio o meme - contenedor*/
.contenido2{
   width:70%;
   display: flex;
   justify-content: center;
   margin-top:10%;
   text-align: center;
   color:black;
   font-style: italic;
}
/*img, frase, audio o meme - imágen*/
#imagen-mostrada{
   display:none;
   max-width:100%;
   width:100%;
}
/*img, frase, audio o meme - frase*/
#frase-mostrada{
   display:none;
   background-color: rgba(0, 0, 0, 0.548);
   color:white;
   padding:5%;
   border-radius: 15px;
}
/*img, frase, audio o meme - audio*/
   #audio-mostrado{display:none;}
/*img, frase, audio o meme - meme*/
#meme-mostrado{display:none;}